/*Requirement 1: Every page must be styled using same external style sheets */
/*Requirement 2: Two(2) style sheets will be required */
body{
  margin-left: 200px;
	margin-right: 200px;
  padding: 0;
  color: rebeccapurple;
  font-size: 20px;
  font-family: sans-serif;
  align-content: center;
}
/* Requirement3: Use selectors to style all appropriate elements on all pages
and Providing more than one property:value pair for each element*/
#profile{
  font-family: monospace;
  font-size: 18px;
  text-shadow: 2px 2px 3px #666666;
  padding-bottom: 10px;
}

button{
  padding: 10px;
  border-width: none;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
button:hover{
  text-decoration-style: wavy;
  font-style: oblique;
}
#box{
  float: left;
  margin: 2px;
  display: inline-block;
  position: relative;
}
#menu{
	margin: 0;
  text-decoration-color: olive;
  text-align: center;
  color: darkgreen;
  font-size: 18px;
  font-style: normal;
  float: none;
  overflow: hidden;
  display: block;
  padding: 8px;
  background-color: transparent;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

a{
  color: olive;
  text-decoration: none;
}
a:hover{
  color: hsl(30, 100%, 50%);
  text-decoration: underline;
}

.anima{
  display: inline-block;
  text-decoration-color: olive;
  color: olive;
  text-decoration: none;
  background-color: lightyellow;
}
.anima:hover {
  color: hsl(30, 100%, 50%);
  text-decoration: underline;
}

/*.active {
  background-color: hsl(30, 100%, 50%);
   #dddddd 
    hsl(30, 100%, 50%)
   text-align: left;

}*/
/* Requirement3: Use selectors to style all appropriate elements on all pages*/
h1{
  color: darkgreen;
  text-align: center;
}

h3{
  color: darkgreen;
}
/*Requirement 4: Be creative*/
video{
  object-fit: cover;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  margin: 0;
  top:0;
  left:0;
}
@media (min-max: 760px){
  video{
    display: none;
  }
  body{
    background-image: url(sincerely.jpg);
    background-size: cover;
  }
}
/* Requirement3: Use selectors to style all appropriate elements on all pages*/
.a{
  white-space: normal;
  font-family: arial;
  font-size: 20px;
  text-align: justify;
}
.b{
  white-space: normal;
  font-family: arial;
  font-size: 20px;
  text-align: justify;
}

#alpha,#beta,#gama{
  background-color: rgba(0, 0, 0, 0.5);
  white-space: normal;
  font-family: arial;
  font-style: normal;
  color: white;
  font-size: 20px;
  text-align: justify;
}

.c{
  white-space: normal;
  font-family: arial;
  font-size: 20px;
  text-align: justify;
}

.t{
  table-layout: fixed;
  width: 550px;
  height: auto;
  border-collapse: collapse;
  border: 4px solid black;
  margin: auto;
}
td {
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  color: darkblue;
  font-size: 20px;
}
th{
  padding: 10px;
  background-color:olive;
  font-size: 20px;
  color: darkblue;
  border: 1px solid black;
  text-align: center;
  border: 2px solid black;
}

img.a{
  width: 400px;
  height: 300px;
  margin-left: 0px;
  border: 4px solid darkgreen;
  border-right: 4px solid chocolate;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img.b{
  width: 400px;
  height: 300px;
  margin-left: 0px;
  border: 4px solid darkgreen;
  border-right: 4px solid chocolate;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.list{
  list-style: circle;
  letter-spacing: normal;
}
.man{
  position: absolute;
  margin-left: 0;
  display: inline-block;
  float: left;
}
.viewport {
  position: relative;
  height: 100vh;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.cont{
  position: relative;
  display: inline-flex;
  align-items: justify;
}
/*Requirement 4: Be creative
#alpha:hover, #beta:hover, #gama:hover{
 background-color: lightgray;
 border-left: double;
   color: rgb(214, 122, 127);
 animation: mymove 5s infinite;
}
@keyframes mymove {
 from {background-color: lightgray;}
 to {background-color: lightblue;}
}*/
footer{
  position:fixed;
  bottom: 0;
  float:left;
  margin: 0;
}
#note{
  display:none;
}
